dataclass-wizard==0.22.1
dataclasses-json==0.5.7
Django==4.1.1
django-json-field==0.5.7
Flask==2.2.2
Flask-Caching==2.0.1
httplib2==0.20.2
importlib-metadata==4.6.4
marshmallow==3.18.0
marshmallow-dataclass==8.5.8
marshmallow-enum==1.5.1
requests==2.25.1
schema==0.7.5
simplejson==3.17.6
sqlparse==0.4.2
systemd-python==234
typing-inspect==0.8.0
typing_extensions==4.3.0
ubuntu-advantage-tools==27.11.2
ubuntu-drivers-common==0.0.0
union==0.1.10
urllib3==1.26.5
values==2020.12.3
Werkzeug==2.2.2
